.features__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-items: center;
  grid-gap: 50px 147px;
  margin-top: 100px;
}
@media screen and (max-width: 580px) {
  .features__info {
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: 80px 150px;
  }
}
