.features__card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  height: 170px;
}

@media screen and (max-width: 580px) {
  .features__card-text {
    height: 168px;
  }
}
