.features__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 45%;
  top: 5%;
}

@media screen and (max-width: 580px) {
  .features__text {
    top: 40px;
    left: 45px;
  }
}
