.button {
  height: 60px;
  width: 170px;
  background-color: #9c69e2;
  border-radius: 50px;
  font-size: 18px;
  line-height: 1.6;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
  transition: opacity ease-out 1s;
}

.button:hover {
  opacity: 0.6;
}
