.slider {
  margin: 0 auto;
  margin-left: 63px;
  top: 220px;
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 400px;
}

@media screen and (max-width: 718px) {
  .slider {
    margin-left: 20px;
  }
}
