.testimonials____button {
  width: 20px;
  height: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  background-color: #9c69e2;
  color: #ffffff;
  opacity: 0.5;

  transition: transform 1s;
}

.testimonials____button:hover {
  transform: scale(1.8);
  opacity: 1;
}
