.about-place__text {
  align-self: center;
  max-width: 474px;
  margin-left: 65px;
}

@media screen and (max-width: 810px) {
  .about-place__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .about-place__text {
    text-align: center;
    padding: 0 20px;
  }
}
