.slider__item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 635px;
  min-height: 330px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
}

@media screen and (max-width: 718px) {
  .slider__item {
    min-width: auto;
    width: 80vw;
  }
}
