.slider__avatar {
  align-self: flex-start;
  margin-top: 60px;
  width: 90px;
  height: 90px;
  background-image: url("./images/avatar.jpg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 580px) {
  .slider__avatar {
    margin-left: 10px;
  }
}
